<%= turbo_frame_tag 'categories' do %>
    <%= form_with url: products_path, method: :get do |form| %>
        <div class="flex my-2 mx-2">
            <%= form.number_field :min_price, placeholder: 'precio minimo', 
            OnChange: 'this.form.requestSubmit()', value: params[:min_price], 
            class: "w-1/3 rounded-2xl border-gray-200" %>

            <%= form.number_field :max_price, placeholder: 'precio maximo', 
            OnChange: 'this.form.requestSubmit()', value: params[:max_price], 
            class: "w-1/3 rounded-2xl border-gray-200 mx-2" %>

            <%= form.select :order_by, options_for_select(
                [
                    ['Recientes', 'newest'],
                    ['Mas caro', 'expesive'], 
                    ['Mas barato', 'cheapest']
                ], 
                params[:order_by]
                ), {include_blank: true}, { OnChange: 'this.form.requestSubmit()', 
            class: "w-1/4 rounded-2xl border-gray-200" } %>
        </div>
    <% end %>

    <div class="flex overflow-x-scroll gap-2 my-2">
        <%= render partial: 'category', collection: @categories %>
    </div>

    <div class="products flex flex-row w-full flex-wrap gap-x-2">
        <%= render partial: 'product', collection: @products %>
    </div>
<% end %>